@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Philosopher');


* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

body {
 font-family: 'Varela Round', sans-serif;
 max-width: 1000px;
 height: 100%;
 margin: 0;
 padding: 0;
 margin: 0 auto;
}

.title {
    margin-left: 5%;
    font-size: 2em;
}


@keyframes fadeIn {
    from {
     opacity: 0;
     transform: translateY(20%);
    }
    to {
     opacity: 1;
     transform: translateY(0%);
    }
   }
.header-box {
 display: flex;
 flex-flow: column;
 align-items: center;
 justify-content: space-around;
 height: 100vh; 
 min-height: 600px;
 margin-bottom: 150px;
}
.header-title {
    font-family: 'Philosopher', sans-serif;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
    font-size: 1.5em;
    background: darkturquoise;
    border: solid 2px white;
    padding: 5%;
    width: 80%;
    mix-blend-mode: hard-light;
}
.header-title2 {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.name {
    margin: 10px;
}


.header-extra {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: white;
    width: 80%;
    height: 40%;
    color: darkturquoise;
    mix-blend-mode: hard-light;
    justify-content: space-around;
    padding: 0 5% 0 5%;
}
.header-extra h1 {
    margin: 0 auto;
    font-size: 2em;
}
.header-extra h4:before,
.header-extra h4:after {
    display: flex;
    flex-flow: row;
    align-items: center;
    content: '';
    width: 100%;
    height: 2px;
    background: darkturquoise;
}



header {
 display: flex;
 flex-flow: column;
 align-items: center;
 justify-content: space-around;
 background: url('./images/mainsea.jpg');
 height: 85%;
 width: 85%;
 max-width: 1000px;
 background-size: cover;
 background-repeat: no-repeat;
 box-shadow: 5px 5px 1px darkturquoise;
 animation: fadeIn 2s ease;
 animation-fill-mode: forwards;
 color: white;
}

.head {
    padding: 15px;
    border: solid 5px white;
    border-radius: 50%;
}
.name {
    letter-spacing: 10px;
    font-size: 1.5em;
}


nav {
 display: flex;
 flex-flow: row;
 justify-content: space-between;
 width: 80%;
 padding-left: 10%;
 padding-right: 10%;
 text-align: center;
 background: darkturquoise;
 mix-blend-mode: hard-light;
}
.nav-item {
 margin: 0px 10px 0px 10px;
 text-decoration: none;
 color: white;
 font-size: 1.5em;
 text-align: center;
}
.nav-item:hover {
    text-decoration: underline;
}

.self {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 40%;
    margin-bottom: 100px;
}
.self img {
    height: 40%;
    width: 30%;
    min-height: 300px;
    min-width: 250px;
    box-shadow: 5px 5px 1px darkturquoise;
    margin: 0 auto;
}
@media screen and (max-width: 700px) {
    .self img {
        min-height: 200px;
        min-width: 150px;
    }
}



.view-text {
    margin-left: 30px;
    font-size: 1.2em;
}

.open-info {
    height: 20px;
    width: 20px;
}
.close-info {
    transform: rotate(180deg);
}

.info-wrap {
    display: flex;
    flex-flow: row;
    margin: 0 auto;
    font-size: 5px;
    max-height: 300px;
    max-width: 900px;
    overflow-x: scroll;
    overflow: hidden;
    padding: 0 50px;
}

.info {
    min-width: 60px;
    width: 200px;
    max-height: 400px;
    overflow: hidden;
    cursor: pointer;
}
.info:hover:before{
    content: '\25E5';
}

.view-info {
    overflow-y: scroll;
    position: absolute;
    top: 1050px;
    right: 1px;
    margin: 0 auto;
    background: white;
    font-size: 3em;
    height: 80%;
    width: 80%;
    padding: 5% 10% 5% 10%;
}
@media screen and (min-width: 700px) {
    .view-info {
        top: 1150px;
    }
}

.partial {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    shape-outside: circle(50%);
    float: left;
    margin: 10px;
}
.partial:nth-child(2n) {
    float: right;
}

.lrg-partial {
    height: 100px;
    width: 100px;
}
@media screen and (min-width: 700px) {
    .lrg-partial {
        height: 150px;
        width: 150px;
    }
}

.text-head {
 text-align: center; 
 font-size: 1.75em;
}

.text-wrap {
 border-top: solid 3px darkturquoise;
 border-left: solid 2px darkturquoise;
 padding-top: 1%;
}
.text-wrap p {
 margin: 5px 0px 0px 10px;
 text-indent: 5%;
 clear: both;
}




/* Gallery style */

#gallery {
    margin-top: 150px;
}
.legend {
    display: flex;
    flex-flow: row;
    margin: 10px;
    margin-left: 5%;
    border: solid 2px black;
    width: 60%;
    justify-content: space-around;
    padding: 5px;
}
@media screen and (max-width: 800px) {
    .legend {
        font-size: .75em;
    }
}
@media screen and (max-width: 600px) {
    .legend {
        font-size: .45em;
    }
}
.legend-key {
    align-self: center;
    border-bottom: solid 3px black;
}
.key-symbol {
    text-align: center;
   }

.gallery-box {
    background: url('./images/mainsea2.jpg') no-repeat;
    background-size: cover;
    color: white;
}

   .gallery-items {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    min-height: 300px;
    width: 100%;
    background: darkturquoise;
    font-size: 1.5em;
    mix-blend-mode: hard-light;
   }
   @media screen and (min-width: 800px) {
       .gallery-items {
           flex-flow: row;
       }
   }
   .gal-item {
    padding: 0 1%;
 }
   .gal-item:hover {
       cursor: pointer;
       border-bottom: solid 2px white;
   }

   
   
   @keyframes galSlide {
       from{
        transform: translateX(0);
        opacity: 1;
       }
       to {
        transform: translateX(-20%);
        opacity: 0;
       }
   }
   .galSlide {
    margin: 0 auto;
    animation: galSlide .5s ease;
    animation-fill-mode: forwards;
    transform: preserve-3d;
   }
   .slideBack {
    margin: 0 auto;
    transform: translate(0vmax, 0vmax);
    transition: transform 1s ease;
    animation-fill-mode: forwards;
   }

   .gallery-wrap {
       display: grid;
       grid-template-columns: 1fr 2fr 1fr;
       margin: 0 auto;
       justify-content: space-around;
       width: 400px;
       max-width: 1000px;
   }

   .close {
    display: none;
    position: sticky;
    position: -webkit-sticky;
    top: 400px;
   }

   .styledClose {
    display: block;
    background: white;
    color: darkturquoise;
    height: 30px;
    width: 30px;
    border: solid 3px darkturquoise;
    margin: 10px;
    transform: translateY(-300px);
   }

   .gallery-sections {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 0 auto;
    height: auto;
    width: 90%;
    transform: translateY(-300px);
}

.gal-sec {
    display: none;
}
.gal-sec:after {
    content: 'end';
    border-bottom: solid 3px darkturquoise;
}

   .gal-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: space-around;
    grid-gap: 10px;
}
    .grid-itm {
    height: auto;
    width: 100px;
    cursor: pointer;
    }


@media screen and (max-width: 500px) {
    .grid-itm {
        width: 75px;
    }
}

@keyframes showItem {
    from {
     opacity: 0;
    }
    to {
     opacity: 1;
    }
   }
   .show {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    animation: showItem .5s ease;
   }


.lrg-img {
 height: auto;
 width: 40vw;
 position: absolute;
 left: 1px;
 border: solid 3px black;
}

 

   #contact {
       margin-top: 150px;
   }
   .contact-info {
       display: flex;
       flex-flow: column;
       justify-content: space-around;
       border: solid 3px darkturquoise;
       border-left: solid 30px darkturquoise;
       height: 500px; 
       width: 300px;
       margin: 0 auto;
       margin-top: 50px;
       margin-bottom: 50px;
       padding-left: 20px;
   }
   .email, .number {
       text-decoration: none;
       color: darkturquoise;
   }
   .contact-moved {
       transform: translateY(-300px);
   }